<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>404</h1>
                <h2>Page not found</h2>
                <p>Sorry, but the page you are looking for has note been found. Try checking the URL for the error, then hit the refresh button on your browser or try finding something else in our website.</p>

                <p>{{ error }}</p>
            </div>
        </div>
    </div>
</body>
</html>